@import "title";

@font-face {
  font-family: font1;
  src: url(/fonts/outfit/Outfit-VariableFont_wght.ttf);
}
@font-face {
  font-family: font2;
  src: url(/fonts/young-serif/YoungSerif-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
// media quarry
// mobile
@media screen and (min-width: 375px) {
  .container {
    width: 1200px;
    margin-left: 50px;
    margin-right: 50px;
  }
}
// desktop
@media screen and (min-width: 1270px) {
  body {
    background-color: rgb(221, 189, 129);
    height: 250vh;
  }
  .container {
    width: 1127px;
  }
  .top-container {
    margin-top: 180px;
    width: 1200px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 30px;
  }
  .banner__img {
    width: 99%;
    margin-top: 60px;
    border-radius: 30px;
  }
}
// recepie
.recepie {
  text-align: start;

  &__title {
    font-family: font2;
    font-size: 3rem;
    font-weight: 300;
  }
  &__description {
    font-family: font2;
    font-weight: 100;
  }
}
// time section
.time {
  background-color: rgb(243, 227, 230);
  height: 200px;
  margin-top: 50px;
  font-family: font1;
  border-radius: 8px;

  &__title {
    padding: 15px 30px 0px 30px;
    color: brown;
    font-weight: 600;
  }
  &__app {
    padding: 10px;
  }
  &__highlight {
    @extend%span;
  }
}
// ingredient
.ingredient {
  border-bottom: 1px solid grey;
  margin-top: 80px;

  &__title {
    @extend%btn;
  }

  &__item {
    padding: 10px;
    font-size: 24px;
    font-weight: 500;
    font-family: font1;
  }
}
// instruction
.instruction {
  margin-top: 50px;
  border-bottom: 1px solid grey;
  &__title {
    @extend%btn;
  }
  &__highlight {
    @extend%span;
  }
  &__no {
    padding: 15px 30px;
  }
}
.nut {
  margin-bottom: 3rem;
  &__title {
    @extend%btn;
  }
  &__table {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: font1;
  }
  &__text--high {
    padding: 10px 80px;
    border-bottom: 1px solid gray;
    border-right: none;
    font-weight: 800;
    font-family: font1;
  }
  &__text--light {
    color: rgb(138, 62, 9);
    padding: 10px 80px;
    border-bottom: 1px solid gray;
    border-left: none;
    font-family: font1;
    font-weight: 400;
  }
}
